* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primary: rgb(10, 56, 113);
  --ternaria: #d8dfe8;
  --background: rgb(243, 245, 252);
}

html,
textarea,
footer {
  font-size: 72.5%;
  font-family: Inter;
  background-color: var(--background);
 
}

.logo {
  display: block;
}
body {
  font-size: 1.6rem;
  margin: 0 auto;
  margin: 40px;
  padding: 40px;

}
button {
  flex: 1;
  height: 60px;
  border-radius: 30px;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--ternaria);
  transition: box-shadow 0.3s ease;
}
button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#borrar {
  background-color: white;
  color: var(--primary);
}
#titulo-mensaje{
  color: var(--primary);
}

.body-container {
padding: 20px;
display: grid;
grid-template-areas:
"logo sidebar"
"main  sidebar"
"footer footer";
grid-template-rows: 30px 1fr 50px;
grid-template-columns: 3fr 1fr;
}
.body-container .main-container {
padding: 60px 80px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.body-container .main-container .textarea-label {
color: transparent;
}
.body-container .main-container .text-input {
width: 700px;
height: 200px;
font-size: 2.5rem;
color: var(--primary);
border: 2px solid rgb(247, 238, 238);
border: none;
}
.body-container .main-container .text-input:focus {
outline: none;
color: var(--primary);
}

.body-container .main-container div {
 width: 100%;
}
.body-container .main-container .info {
font-size: 1.2rem;
margin: 56px 0;
}

.body-container .main-container .text-input::placeholder {
color: var(--primary);
width: 80%;

}
.body-container .main-container .textarea-label {
color: transparent;

}
aside {
  display: block;

}
.body-container .sidebar-container {
grid-area: sidebar;
padding: 10px;
margin: 10px;
border-radius: 32px;
box-shadow: 0px 24px 32px -8px rgba(220, 56, 56, 0.08);
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 80%;
height: 60%;
}

.body-container .main-container div .button-container {
display: flex;
flex-wrap: nowrap;
gap: 24px;
margin: 30px;
padding: 10px;
}
.body-container .sidebar-container.space-between {
justify-content: space-between;
}

.body-container .sidebar-container img {
width: 100%;
}

.sidebar-container h2 {
margin-top: 32px;
font-weight: 700;
}

.body-container .sidebar-container p {
margin-top: 16px;
color: #495057;
}

.body-container .sidebar-container .copyBtn {
flex: 0;
padding: 24px;
background-color: transparent;
margin-top: 32px;
}

.body-container footer {
grid-area: footer;
text-align: center;
margin-top: 5rem;
}

@media (max-width: 768px) {
  .body-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .body-container .main-container {
    height: auto;
    padding: 32px 0;
    margin-bottom: 4%;
  }

  .body-container .main-container .text-input {
    width: 100%;
  }

  .body-container .sidebar-container img {
    width: 0%;
  }

  .body-container .sidebar-container h2 {
    padding: 0 0 16px;
  }
}

@media (max-width: 375px) {
  button {
    flex: none;
  }

  .body-container {
    padding: 24px;
  }

  .body-container .main-container div .button-container {
    flex-direction: column;
  }
}


